.loader-bg {
  position: fixed;
  z-index: 999999;
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-part {
  background-image: linear-gradient(180deg, var(--primary), #4c0202);
}
.social-icons-linkedin:hover {
  background-color: #0967c2;
}
@media (min-width: 991px) {
  section {
    min-height: 100vh !important;
  }
}
section.section.services {
  background: linear-gradient(45deg, black, #e90000) !important;
}
section.section {
  padding: 1rem;
}
.overlay::before {
  opacity: 0.7 !important;
}
.progress-bar-dark {
  background-color: var(--primary) !important;
}
.img-fluid {
  max-width: 70%;
}
.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
}
